<button class="btn btn-default" id="getSomeData">Make Me Laugh</button>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script language="javascript">
        $(document).ready(function () {

            @*$("#addAndContinue").click(function () {
                var car = {};
                car.name = $("#Name").val();
                car.mileage = $("#Mileage").val();
                car.color = $("#Color").val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/api/cars")',
                    data: JSON.stringify(car),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $("#Name").val('');
                        $("#Mileage").val('');
                        $("#Color").val('');
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
            });*@


            $("#getSomeData").click(function () {
                $.ajax({
                    type: "GET",
                    url: 'https://forecast.weather.gov/MapClick.php?lat=38.4247341&lon=-86.9624086&FcstType=json',
                    success: function (data) {
                        alert(data.data.weather);
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });

                //// This is the short-handed way https://api.jquery.com/jquery.get/
                //$.get("https://api.chucknorris.io/jokes/random", function (data) {
                //    alert(data.value);
                //});
            });

        });
    </script>
}
